.drag-me {
  position: absolute;
  color: red;
  border: 1px solid green;
  padding: 12px;
  user-select: none;
  width: 100px;
}

.drop-me {
  position: absolute;
  top: 100px;
  left : 100px;
  height: 500px;
  width: 500px;
  background-color: lightskyblue;
}